html {
  scroll-behavior: smooth;
}

nav ul {
  margin-right: -15%;
  height: 56px;
}

nav ul a {
  color: #616A71;
}

h4 {
  text-align: center;
}

ol {
  type: "1";
}

.brand-logo {
  margin-left: -20%;
}

.nav-wrapper .brand-logo img {
  /*margin-left: 2%;*/
  padding: 0.5%;
}



.parralax-container .row {
  padding: 10%;
}

.row .ach li {
  font-size: 20px;
  text-align: justify;
}

.section .row p {
  font-size: 20px;
}

.section .container h1 {
  font-size: 70px;
  margin-right: -40%;
  margin-left: -40%;
  line-height: 100px;
}

.section li {
  display: list-item;
  list-style-type: disc;
  margin-left: 2rem;
  font-size: 18px;
}

nav .brand-logo {
  color: #33A2FF;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 348px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container #events .section {
    width: 100%;
    padding: 50%;
}

.parallax-container .section {
    width: 100%;
    padding: 10%;
}

@media only screen and (max-width : 1325px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

section:focus {
  outline: none;
}